<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Backbonejs中文社区 | bb-js.org</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" class="ui" href="/static/css/chat.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#index">Backbonejs中文社区(Beta)</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#index">主页</a></li>
                    </ul>
                    <ul id="user_info" class="nav navbar-nav navbar-right hide">
                        <li class="active"><a id="username"></a></li>
                        <li>
                        <a href="/logout">退出登录</a>
                        </li>
                    </ul>
                    <ul id="login_link" class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#login">登录</a>
                        </li>
                    </ul>
                </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->

    <!-- Content -->
<div class="container">
    <div class="row">
        <!-- main -->
        <div id="main" class="col-sm-9">
            <!-- Topic List -->
            <div id="topic_section">
                <ul id="topic_list" class="list-unstyled">
                    <!-- list here -->
                </ul>
                <div id="topic_form" class="ui error form segment">
                    <form role="form">
                    <div class="form-group">
                        <label for="topic_title">话题</label>
                        <input type="text" class="form-control" id="topic_title" placeholder="请问如何学习Backbonejs">
                    </div>
                    <div class="form-group">
                        <label for="topic_tag">Tag</label>
                        <input type="text" class="form-control" id="topic_tags" placeholder="初学 文档">
                    </div>
                    <a class="btn btn-default submit_topic">添加</a>
                    </form>
                </div>
            </div>

            <!-- Message -->
            <div id="message_section" class="hide">
                <a class="btn btn-info" href="#index">返回列表</a>
                <div id="topic_meta">
                    <!-- 显示topic信息 -->
                    <div class="row">
                        <h2 id="message_head"></h2>
                    </div>
                </div>
                <ul id="message_list" class="list-unstyled">
                    <!-- list here -->
                </ul>
                <div id="message_form">
                    <form role="form">
                    <div class="form-group">
                        <label for="topic_title">我也说一句</label>
                        <textarea id="comment" rows=4 class="form-control"></textarea>
                        <small>支持Markdown语法<a href="http://markdown.tw/" target="_blank">参考</a></small>
                    </div>
                    <a class="btn btn-primary submit">提交</a>
                    </form>
                </div>
            </div>
        </div>
<!-- end main -->

        <!-- sidebar -->
        <div class="col-sm-3">
            <div class="list-group">
                <div class="list-group-item active">
                    Backbonejs交流群: 308466740
                </div>
                <div class="list-group-item active">
                    空
                </div>
            </div>
        </div><!--/span--> 
        <!-- sidebar -->
    </div>
</div>

<footer>
    <hr/>
<div class="container">
    <div id="online_users" class="well well-sm">
    </div>
    <div class="row">
        <div class="col-sm-6">
        <a href="https://github.com/bb-js/bb-js.org" class="item">本站源码</a>
        </div>
        <div class="col-sm-6">
            开发者： <a href="http://www.the5fire.com" target="_blank">the5fire</a>
        </div>
    </div>
</div>
</footer>

<!-- login -->
<div id="wrapper" style="display: block; z-index: 998;">
    <div id="login_section" class="container">
        <div class="row">
            <div class="col-sm-6">
                <form role="form">
                <div class="form-group">
                    <label for="login_username">用户名</label>
                    <input type="text" class="form-control" id="login_username">
                </div>
                <div class="form-group">
                    <label for="login_pwd">密码</label>
                    <input type="password" class="form-control" id="login_pwd">
                </div>
                <div class="btn btn-primary login_submit">登录</div>
                </form>
            </div>
            <div class="col-sm-6">

                <form role="form">
                <div class="form-group">
                    <label for="reg_username">用户名</label>
                    <input type="text" class="form-control" id="reg_username">
                </div>
                <div class="form-group">
                    <label for="reg_pwd">密码</label>
                    <input type="password" class="form-control" id="reg_pwd">
                </div>
                <div class="form-group">
                    <label for="reg_pwd_repeat">重复密码</label>
                    <input type="password" class="form-control" id="reg_pwd_repeat">
                </div>
                <div class="checkbox">
                    <label>
                    <input type="checkbox"> 我同意bb-js.org的文明上网协议.
                    </label>
                </div>
                <div class="btn btn-primary registe_submit">注册</div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- template -->

<script type="text/template" id="topic-template">
    <div class="status col-sm-1">
        <span style="margin-top: 73px; width: 55px;display: block;"><%= message_count %>回复</span>
    </div>
    <div class="col-sm-9">
        <h2><a href="#topic/<%= id %>"><%= title %></a></h2>
        <p>
        标签:  <% if (tags) {%><%= tags %><% } %>  时间：<%= created_time %>
        </p>
    </div>
    <div class="author col-sm-2">
        <p>
        创建者：<%= owner_name %>
        </p>
    </div>
    <% if (new_comment) {%>
    <br/>
        <div class="col-sm-12">
            <div class="new_comment">
                <div class="comment_title">
                最新回复
                </div>
                <div class="comment_content">
                    <%= new_comment.content %>
                    <br/>
                    -- <%= new_comment.user_name %>  <%= new_comment.created_time %>
                </div>
            </div>
        </div>
    <% } %>
</script>

<script type="text/template" id="message-template">
<div class="message_meta col-sm-2 <% if(is_mine) { %> self <% } %>" data="<%= id %>">
    <p>
    <%= user_name %>
    </p>
    <p>
    <%= created_time %>
    </p>
</div>
<div class="col-sm-9">
    <p><%= content %></p>
</div>
</script>

    <script data-main="/static/js/app.js" src="/static/js/lib/require.js"></script>

    <script src="/static/js/lib/socket.io.js"></script>
    <script>
    require.config({
        baseUrl: '/static',
        shim: {
            underscore: {
                exports: '_'
            },
            backbone: {
                deps: [
                    'underscore',
                    'jquery'
                ],
                exports: 'Backbone'
            },
            backboneLocalstorage: {
                deps: ['backbone'],
                exports: 'Store'
            }
        },
        paths: {
            "jquery": "js/lib/jquery",   // 改造过的jquery
            "underscore": "js/lib/underscore",  //同上
            "backbone": "js/lib/backbone", //同上

            "user": "js/user", 
            "message": "js/message",
            "topic": "js/topic",
            "appview": "js/appview",
            "approuter": "js/approuter",
            "app": "js/app",
            "socket": "js/socket",
        }
    });

    </script>

</body>
</html>
