body {
    padding-top: 70px;
    padding-bottom: 40px;
}

.container {
    width: 970px !important;
}

.topic, .message {
    border-bottom: 1px solid #EEE;
    padding: 10px;
    word-wrap: break-word;
}

#topic_form {
    background: #eee;
    padding: 30px;
}

#topic_meta {
    background: cyan;
    padding: 20px;
}

.message_meta {
    border-right: 1px solid #eee;
}

.self {
    background: #ccc;
}
